.nav-link:hover{
    background-color: rgb(255, 94, 0);
    color: white;
}
#logo{
    background-color: rgb(255, 123, 0);
    color: white;
}
#logo:hover{
    background-color: white;
    color: rgb(255, 123, 0);
}

.navbar-toggler-icon {
    background-color: rgb(255, 123, 0);;
  }

.card-img{
    height: 180px;
}